@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.content {
		@apply text-justify leading-relaxed text-lg;
	}
	.content h1, h1.content {
		@apply text-5xl;
	}
	.content h2, h2.content {
		@apply text-4xl;
	}
	.content h3, h3.content {
		@apply text-3xl;
	}
	.content h4, h4.content {
		@apply text-2xl;
	}
	.content h5, h5.content {
		@apply text-xl;
	}
	.content h6, h6.content {
		@apply text-lg;
	}
	.content h1, h1.content,.content h2, h2.content,.content h3, h3.content,.content h4, h4.content,.content h5, h5.content,.content h6, h6.content {
		@apply py-3;
	}
	.content p, p.content {
		@apply py-3;
	}


	table {
		@apply border-separate  table-fixed w-full border-spacing-0  ;
	}
	th, td {
		@apply border-2 border-slate-700 p-2 ;
	}
	th {
		@apply font-bold first:rounded-tl-md last:rounded-tr-md border-b-0 bg-slate-950;
	}
	tr:last-child td:first-child {
		@apply first:rounded-bl-md;
	}
	tr:last-child td:last-child {
		@apply last:rounded-br-md;
	}
	tr:not(:last-child) td {
		@apply border-b-0;
	}
	td:not(:last-child), th:not(:last-child) {
		@apply border-r-0;
	}

	.content pre, pre.content {
		@apply p-6 rounded-md ;
	}
	.content code, code.content {
		@apply  bg-slate-800/50 px-2;
	}

	.content pre>code {
		all: unset;
	}
	.content blockquote,blockquote.content {
		@apply ml-6 border-l-4 pl-6 border-slate-700;
	}

	.content a, a.content, link {
		@apply underline text-blue-300 hover:text-blue-400;
	}

}

.data-footnote-backref {
	font-family:sans-serif !important;
}

/* @media (prefers-color-scheme: dark) { */
.dark-plus {
	background-color: #111111 !important;
}
/* } */
