---
import { HEADER_LINKS,SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="flex w-full">
		<a class="text-3xl font-bold self-start flex-1 p-2" href="/" alt="home">{SITE_TITLE}</HeaderLink>
		<div class="self-end p-2">
			{
				HEADER_LINKS.map((link) => (
					<HeaderLink class="px-3" href={`${link.href}`} alt={link.alt}>{link.title}</HeaderLink>
				))
			}
		</div>
	</nav>
</header>
